{% extends 'layout.html' %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}

<div class="container">
  <h1>{{page.title}}</h1>
  {% if session.is_authenticated %}
    <span class="badge badge-light"><a href="{{url_for('page_edit', id=page._id) }}">Edit this page</a></span>
  {% endif %}
  <div class="content" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">
    {{page.content|safe}}
  </div>
  <hr>
  <div class="footer">
    {{page.footer|safe}}
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}