{% extends 'layout.html' %}
{% from 'navbar.html' import render_navbar %}
{% from 'macros.html' import field, ckeditor, form_csrf %}
{% block title %}{{g.brand}} Admininstration{% endblock %}
{% block navbar %}
{{ render_navbar() }}
{% endblock %}
{% block content %}
    <div class="content">
    <h3 class="subtitle">Administration Areas</h3>
    <ul>
        <li><a href="{{ url_for("admin_users") }}">Users</a></li>
        <li><a href="{{ url_for("admin_pages") }}">Pages</a></li>
        <li><a href="{{ url_for("admin_files") }}">Files</a></li>
    </ul>
    <hr>
    <h2 class="subtitle">Blog Meta Information</h2>
    <form method="POST">
        {{ form.csrf_token }}
        {{ field(name="brand", label="Blog Brand Title", value=g.brand) }}
        {{ field(name="stylesheet", label="stylesheet local or url", value=g.stylesheet)}}
        {{ ckeditor(name="about", label="About (goes on main page)", value='') }}
        <input type="submit" class="button is-primary">
    </form>
    </div>
{% endblock %}