{% extends "layout.html" %}
{% from 'macros.html' import field, ckeditor, checkbox, select, form_csrf, modal_enclosure %}
{% from 'navbar.html' import render_navbar %}
{% block title %}Edit Resource{% endblock %}
{% block navbar %}
    {# navigation #}
    {{ render_navbar() }}
{% endblock %}
{% block content %}
<div class="content">
<img src="{{ file.url }}" width="200" />

<form method="post">
    {{ form_csrf() }}
    {{ field(name="title", label="File Title", value=file.title) }}
    {{ field(name="owner", label="Owner", value=file.owner) }}
    <p>filepath: {{ file.path }}</p>
    <p><a href="{{ file.url }}" target="_blank">{{ file.url }}</a>&nbsp;&nbsp;
    <button class="button is-small is-info" onclick="copyTextToClipboard('{{ file.url}}')">copy</button>
    </p>
    <button type="submit" class="button is-info">Save</button>
    <a href="{{ url_for('file_delete', file_id=file._id) }}" type="button" class="button is-danger">Delete</a>
    
</form>
    <p>
    {% call modal_enclosure(name, button_label="View Modal") %}
        <img src="{{ file.url }}" />
    {% endcall %}
    </p>

</div>
{% endblock %}
{% block scripts %}
 <script src="{{url_for('static', filename='js/copyTextToClipboard.js')}}"></script>
{% endblock %}