{% extends "layout.html" %}
{% from 'macros.html' import field, ckeditor, checkbox, select %}
{% from 'navbar.html' import render_navbar %}
{% block title %}Flask Blog Setup{% endblock %}
{% block navbar %}
    {# navigation #}
    {{ render_navbar() }}
{% endblock %}
{% block content %}
<div class="content">
<h2 class="subtitle">FIRST USE Requires Assigning Administrator</h2>
    <form method="POST">
        {{ field(name="username", label="Primary Administrator Username", value="admin") }}
        {{ field(name="password", label="Admin Password", is_password=True) }}
        {{ field(name="confirm", label="Confirm Password", is_password=True) }}
        <input type="submit" class="button is-primary">
    </form>
</div>
{% endblock %}