{% extends 'layout.html' %}
{% import 'wtf.html' as wtf %}
{% block title %}{{title}}{% endblock %}
{% block scripts %}
{{ ckeditor.load() }}
{% endblock %}
{% block content %}
 <div class="container">
  {{ wtf.quick_form(form) }}
  {% if form.data.get('content') %}
  {# Ahem... this is no longer generic. #}
   <div style="margin-top:5px;">
    <p><a class="btn btn-danger" href="{{ url_for('page_delete', id=id) }}">Delete</a></p>
    </div>
  {% endif %}
 </div>
 
{% endblock %}