
{% macro render_navbar(category="is-default") %}
<div class="container">
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    
    <div class="navbar-item">
        <a href="{{ url_for('site') }}"><strong>{{ g.brand }}</strong></a>
    </div>
    
    <div class="navbar-item">
    </div>
    
    {% if session['is_authenticated'] %}
    <div class="navbar-item">
        <a href="{{ url_for('page_edit') }}">Create Page</a>
    </div>
      {% if session['is_admin'] %}
        <div class="navbar-item">
            <a href="{{ url_for('admin') }}">Admin</a>
        </div>
      {% endif %}
    <div class="navbar-item">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    {% else %}
    <div class="navbar-item">
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    {% endif %}
    <div class="navbar-item navbar-end">
      <form>
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" name="s" placeholder="Search term">
            </p>
            <p class="control">
              <button type="submit" class="button is-info">
                Search
              </button>
            </p>
          </div>
      </form>
    </div>
    
  </nav>
  </div>
{% endmacro %}

{% macro render_utility_navbar(category="is-light") %}
<div class="container">
  <nav class="navbar {{category}}" role="navigation" aria-label="dropdown navigation">
    
    <div class="navbar-item">
        <a href="{{ url_for('site') }}"><strong>{{ g.brand }}</strong></a>
    </div>
    
    <div class="navbar-item">
    </div>
    
  </nav>
</div>
{% endmacro %}