{% extends 'layout.html' %}
{% from 'navbar.html' import render_navbar %}
{% from 'macros.html' import field, checkbox, form_csrf %}
{% block title %}Administer User {{ user.username }}{% endblock %}
{% block navbar %}
{{ render_navbar() }}
{% endblock %}
{% block content %}
<div class="content">
<h2 class="title">Edit {{ user.username }}</h2>
<form method="post">
    {{ form.csrf_token }}
    {{ field('username', 'Username', value=user.username) }}
    {{ field('displayname', 'Display Name (optional)', value=user.displayname) }}
    {{ field('email', 'Email (optional)', value=user.displayname) }}
    {{ field('password', 'Password', value=user.password) }}
    {{ checkbox('is_active', 'Is Active', checked=user.is_active) }}
    {{ checkbox('is_admin', 'Is Administrator', checked=user.is_admin) }}
    <input type="submit" class="button is-primary">
</form>
</div>
{% endblock %}