
{% extends "layout.html" %}
{% from 'macros.html' import field, ckeditor, quilleditor, checkbox, select, wysihtml5, form_csrf %}
{% from 'navbar.html' import render_navbar %}
{% block title %}Edit page{% endblock %}
{% block navbar %}
    {# navigation #}
    {{ render_navbar() }}
{% endblock %}
{% block content %}
<div class="content">
<form method="post">
    {{ form_csrf() }}
    {{ field(name="title", label="Page Title", value=page.title) }}
    {{ field(name="slug", label="Page Slug (optional)", value=page.slug) }}
    <div class="field is-grouped">
    {{ checkbox(name="is_published", label="Published", checked=page.is_published) }}&nbsp;&nbsp;&nbsp;&nbsp;
    {{ checkbox(name="show_title", label="Show Title", checked=page.show_title) }}&nbsp;&nbsp;&nbsp;&nbsp;
    {{ checkbox(name="show_nav", label="Show Navigation", checked=page.show_nav) }}&nbsp;&nbsp;&nbsp;&nbsp;
    {{ checkbox(name="show_sidebar", label="Show Sidebar", checked=page.show_sidebar) }}
    </div>
    
    {{ wysihtml5(name="content", label="Content", value=page.content) }}
    <hr>
    <button type="submit" class="button is-primary">Save</button>
    {% if page.id %}
        <a href="{{ url_for('page_delete', page_id=page.id) }}" type="button" class="button is-danger">Delete</a>
    {% endif %}
</form>
</div>
{% endblock %}